<div>
    <div class="row">
        <div class="col-md-6">
            <slot name="name"></slot>
            <slot name="category_id"></slot>
            <slot name="price"></slot>
        </div>
        <div class="col-md-6">
            <slot name="parts"></slot>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <slot name="stores"></slot>
        </div>
        <div class="col-md-6">
            <slot name="options"></slot>
        </div>
    </div>
</div>